{% extends "learning_logs/base.html" %}

{% block page_header %}

    <h1>Topics</h1>

{% endblock page_header %}

{% block content %}

<ul>

        <a href="{% url 'learning_logs:new_topic' %}" class="btn btn-outline-primary btn-lg btn-block" role="button">Add a new topic</a>
    
    {% for topic in topics %}
        
        <a href="{% url 'learning_logs:topic' topic.id %}" class="btn btn-outline-dark btn-lg btn-block" role="button">{{ topic }}</a>

    {% empty %}

        <p>There are no entries for this topic yet.</p>
    
    {% endfor %}

</ul>


{% endblock content %}
